[submodule "submodules/ranger"]
	path = submodules/ranger
	url = https://github.com/ranger/ranger.git
[submodule "submodules/profile_manager"]
	path = submodules/profile_manager
	url = https://github.com/klaxalk/profile_manager.git
[submodule "submodules/tmuxinator"]
	path = submodules/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/tmux/tmux.git
[submodule "submodules/vim"]
	path = submodules/vim
  url = https://github.com/vim/vim.git
  ignore = dirty
[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
